.dashboard {
  background-color: #e4e4e4;
  margin: auto;
}

.dashboard-content {
  @include outer-container;
  border: solid 1px #cccccc;
}

.secondary-nav {
  align: center;
  margin: auto;
  background-color: #3066A1
}

.elections {

}

.page-title, .elections h2, .groups h2 {
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

.elections {
  @include span-columns(8);
}

.groups {
  @include span-columns(4);
}

.elections ul, .groups ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.elections li, .elections h2 {
  border: solid 1px #bbbbbb; //#3066A1
  background-color: #ffffff;
  padding: 10px 24px;
  margin: 12px;
}

.groups li, .groups h2 {
  border: solid 1px #bbbbbb; //#3066A1
  background-color: #ffffff;
  padding: 10px 24px;
  margin: 12px;
}

